
body {
    font-size: 1rem;
    background: var(--3);
    color: var(--1);
    text-decoration: none;
    /*width: 95vw;*/
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 0.25fr 3fr 0.5fr 100px;

    grid-template-areas:
        "header header header"
        "ads ads ads"
        "main main main"
        "main main main"
        "footer footer footer";

    column-gap: 8px;
    row-gap: 8px;

}

.adsDos {
    grid-area: none;
    display: none;

}


@media only screen and (min-width: 600px) {
    body {
        font-size: 1.2rem;
        /*background: red;*/
    }

    .social {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .social__container {            /*Dimensionamos y posicionamos los círculos que contendrán los logos */
        height: 40%;

        padding: 8px;
        margin: 4px;

     }

    .social__container a img {
        width: 36px;
    }

    .programa {
        max-height: 300px;
        border: 5px solid var(--2);
    }

    .programa__contenido {
        max-height: 90%;
        border: 0;
    }

    .programa__contenido .descripcion {
        overflow: auto;
        }

    .no-reverse {
        flex-direction: row;
    }

    .reverse {
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width: 1023px) {
    body {
        /*background: pink;*/
        font-size: 1.5rem;
        /*grid-template-columns: 1fr 2fr 1fr;*/
        /*grid-template-rows: 100px repeat(3, 1fr) 1fr;*/
        grid-template-rows: 200px 0.5fr 3fr 0.5fr 100px;


        grid-template-areas:
            "header header header"
            "main main main"
            "main main main"
            "ads s adsDos"
            "footer footer footer";
    }

    .programa {
        border: 5px solid var(--7);
    }

    .adsDos {
        grid-area: adsDos;
        display: flex;
    }
}

