@font-face {
  font-family: "Myriad";
  src: url(../assets/fonts/myriad.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: calc(1 * (0.5rem + 0.8vw));
  font-family: "Myriad", cursive;
  color: #0017AC;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 18vh repeat(3, auto) 5vh;
  background: #edeeee;
  grid-template-areas: "header header header" "main main main" "main main main" "publicidad publicidad publicidad" "footer footer footer";
}
body .centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}
body header {
  grid-area: header;
  background: #0017AC;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
body header .logo-container {
  height: 100%;
  background: #7399BF;
}
body header .logo-container img {
  height: 100%;
  width: 100%;
  max-width: 100px;
  object-fit: cover;
}
body header section {
  display: flex;
}
body header section a {
  align-self: center;
}
body header section a span {
  font-size: calc(2 * (0.5rem + 0.8vw));
  color: white;
}
body header section div {
  border: 1px solid orange;
}
body header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
body header nav ul li {
  margin: 4px;
  padding: 4px;
  text-align: center;
  background: #edeeee;
  color: #0017AC;
  border: 2px solid #edeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
body header nav ul li:hover {
  border: 2px solid white;
  background: #0017AC;
  animation: bounce 1s;
}
body header nav ul li:hover a {
  color: #edeeee;
}
body header nav ul li.active {
  background: #0C1484;
}
body header nav ul li.active a {
  color: #edeeee;
}
body main {
  grid-area: main;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /************ Emisiones *********/
  /********************/
  /** Conductores **/
}
body main .titulo-principal {
  padding: 8px;
  margin: 8px;
  margin-bottom: 20px;
}
body main .titulo-principal h1 {
  display: inline-block;
  font-size: calc(2.5 * (0.5rem + 0.8vw));
  color: #0017AC;
}
body main .titulo-principal h1::before {
  content: "El ";
  color: #7399BF;
}
body main .titulo-principal h2 {
  display: inline-block;
  font-size: calc(2 * (0.5rem + 0.8vw));
  color: #7a746c;
}
body main section {
  margin: 8px;
  padding: 8px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  border: 3px solid #295E05;
  border-radius: 20px;
  box-shadow: #999 0px 10px 10px 0px;
}
body main section .titulo {
  color: #689E23;
  font-size: calc(2.5 * (0.5rem + 0.8vw));
}
body main section .link {
  padding: 8px;
  background: #4a6491;
  border: 5px solid #4a6491;
  border-radius: 15px;
}
body main section .link a {
  color: #edeeee;
}
body main section button {
  color: #edeeee;
}
body main section .card {
  width: 90%;
}
body main section iframe {
  width: 100%;
  min-height: 350px;
}
body main .episodio {
  border: 3px solid #689E23;
  box-shadow: #999 0px 10px 10px 0px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body main .episodio .episodio_imagen {
  border: 2px solid black;
  width: 70%;
  aspect-ratio: 1;
}
body main .episodio .episodio_imagen img {
  width: 100%;
  object-fit: cover;
}
body main .episodio .episodio_contenido {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #7399BF;
  padding: 4px;
  margin: 4px;
}
body main .episodio .episodio_contenido .episodio_titulo {
  background: #0017AC;
  color: #edeeee;
  text-align: center;
  font-size: calc(1.5 * (0.5rem + 0.8vw));
}
body main .episodio .episodio_contenido .episodio_descripcion {
  max-height: 300px;
  overflow: auto;
  font-size: calc(0.3 * (0.5rem + 0.8vw));
}
body main .episodio .episodio_contenido audio {
  width: 100%;
}
body main .carousel-inner {
  max-width: 480px;
}
body main .equipo {
  border: 2px solid black;
  display: flex;
}
body main .equipo .equipo__miembro {
  width: 200px;
  height: 200px;
  border: 3px solid orange;
  padding: 12px;
  margin: 12px;
}
body main .equipo .equipo__miembro img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
body .publicidad {
  grid-area: publicidad;
  display: flex;
  justify-content: space-evenly;
}
body .publicidad .publicidad__item {
  margin: 8px;
  border: 3px solid black;
}
body .publicidad .publicidad__item img {
  max-height: 50px;
  aspect-ratio: auto;
  object-fit: scale-down;
}
body footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0C1484;
}
body footer a {
  color: white;
}

@keyframes bounce {
  25% {
    transform: translateY(-5px);
  }
}
@media only screen and (min-width: 767px) {
  body {
    grid-template-rows: 10vh repeat(3, auto) 7vh;
    grid-template-areas: "header header header" "nada main publicidad" "nada main publicidad" "nada main nada2" "footer footer footer";
  }
  body header nav ul {
    flex-direction: row;
  }
  body header nav ul li {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  body main section {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }
  body main section .card {
    width: 100%;
  }
  body main section iframe {
    min-width: 700px;
    aspect-ratio: 16/9;
  }
  body main .episodio {
    flex-direction: row;
  }
  body main .episodio .episodio_imagen {
    width: 30%;
  }
  body main .episodio .episodio_contenido {
    width: 60%;
  }
  body main .reverse {
    flex-direction: row-reverse;
  }
  body .publicidad {
    flex-direction: column;
    justify-content: center;
  }
  body .publicidad .publicidad__item img {
    max-height: 200px;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */