//Referencia:
//https://vm.tiktok.com/ZMNE6D66c/

input[type=checkbox] {
    font-size: 30px;
    appearance: none;
    border: 2px solid $azul-fuerte;
    background: $fondo;
    border-radius: 25px;
    width: 100px;
    height: 45px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

input[type=checkbox]:checked {
    background-color: $azul-oscuro;
}

input[type=checkbox]::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,255,0.8);
    transform: scale(0.7);
    left: 0;
    transition: 0.2s all ease-in-out;
}

input[type=checkbox]:checked::after {
    left: calc(100% - 45px);
}