// $ancho-boton: 100px;
$azul-transparente: rgba(38,101,214,.3);
$azul: #2665d6;
$azul-oscuro: #0C1484;

$azul-fuerte: #0017AC;
$azul-suave: #7399BF;
$rojo-fuerte: #55040B;
$rojo-suave: #970000;

$verde-fuerte: #295E05;
$verde-suave: #50AB11;

$baseSize: calc(0.5rem + 0.8vw);

// Arreglo de variables:

// $colores: (
//     "azul-claro": #0011FF,
//     "azul-oscuro": #0C1484
// );