
/***********************************/
$debug-level:0;             //1: Agrega borde rojo (outline, no border para que no ocupe espacio) para ver las cajas
                            //2: idem con !important
                            //3: idem + background

$texto-azul:1;              //Color de los textos de la navegación
$responsivelyApp:0;         //En responsively si no le damos un width y un height a las <img> se rompe todo, cosa que no sucede en la realidad.
/***********************************/

$duracion: 15s;             //Duración de la animación del header

$azul-transparente: rgba(38,101,214,.3);
$azul: #2665d6;
$azul-oscuro: #0C1484;

$azul-fuerte: #0017AC;
$azul-suave: #7399BF;
$rojo-fuerte: #55040B;
$rojo-suave: #970000;

$verde-fuerte: #295E05;
$verde-intermedio: #689E23;
$verde-suave: #50AB11;

$colorUno: #162552;
// $2: #123386;
$fondo: #edeeee;
// $4: #828696;
//$5: #a6a2a4;
// $6: #b6bac1;
$gris-fuerte: #4a6491;
$gris: #7a746c;
// $9: #c0b5ab;

$baseSize: calc(0.6rem + 0.9vw);
$espacio: 4px;

$fb: #4267B2;
$wa: #25d366;
$ig: #833AB4;
