@import './_variables';
// @import './_header';

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    // border: 1px solid red;
    // font-size: calc(1rem + 1.2vw);
    font-size: calc(1* $baseSize);
    // font-family: 'DynaPuff', cursive;
    color: $azul-fuerte;
}

img {
    width: 50px;
    aspect-ratio: 1;
}

a {
    text-decoration: none;
}





body {
    // width: 100vw;
    // height: 100vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15vh repeat(3, auto) 5vh;
    // grid-template-rows: repeat(5, auto);
    //grid-template-rows: 25vw 1fr 1fr 0.2fr 5vh;


    background: $fondo;

    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "publicidad publicidad publicidad"
        "footer footer footer";

    // column-gap: 8px;
    // row-gap: 8px;
    // // border: 3px solid red;
    // overflow-x: hidden; //Para ocultar el scroll-bar
    // overflow-y: auto;

    .centrado {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        grid-area: header;

        background: $azul-oscuro;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        // background: $azul;

        .logo-container {
            height: 100%;
            background: $azul-suave;
            img {
                height: 100%;
                width: 100%;                //Navegador Real
                //aspect-ratio: 1;            //Responsively App

                max-width: 100px;
                object-fit: cover;
            }
        }

        section {
            display: flex;
            // border: 1px solid red;
            a {
                align-self: center;
                span {
                    font-size: calc(2* $baseSize);
                    color: white;
                }
            }

            div {
                border: 1px solid orange;
            }

        }

        nav {
            ul {
                list-style-type: none;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;

                li {
                    margin: 4px;
                    padding: 4px;
                    text-align: center;
                    background: $fondo;
                    color: $azul-fuerte;
                    &:hover {
                        background: $azul-suave;
                        color: $fondo;
                    }
                }
            }
        }
    }

    main {
        grid-area: main;

        margin: 8px;
        padding: 8px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .titulo-principal {
            padding: 8px;
            margin: 8px;
            margin-bottom: 20px;
            h1 {
                display: inline-block;
                // border: 1px solid red;
                font-size: calc(2.5* $baseSize);
                color: $azul-fuerte;
                &::before {
                    content: "El ";
                    color: $azul-suave;
                }
            }

            h2 {
                // border: 1px solid red;
                display: inline-block;
                font-size: calc(2* $baseSize);
                color: $gris;
            }
        }


        section {
            margin: 8px;
            padding: 8px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;

            width: 80%;
            border: 3px solid $verde-fuerte;
            border-radius: 20px;
            box-shadow: #999 0px 10px 10px 0px;

            .titulo {
                color: $verde-fuerte;
                font-size: calc(2.5* $baseSize);
            }

            .link {
                padding: 8px;
                background: $gris-fuerte;

                border: 5px solid $fondo;
                border-radius: 30px solid green;
                // box-shadow: rgba(74, 100, 145, 0.15) 5px 20px 20px 5px;
                a {
                    color: white;
                }
            }
        }
    }

    .publicidad {
        grid-area: publicidad;

        display: flex;
        justify-content: space-evenly;
        // border: 3px solid pink;
        .publicidad__item {
            margin: 8px;
            // padding: 8px;
            border: 3px solid black;
            img {
                //width: 100%;                //Desktop
                 aspect-ratio: auto;
            }
        }
    }

    footer {
        // position: sticky;
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $azul-oscuro;
        a {
            color: white;
        }
    }
}


// @media only screen and (min-width: 320px) {
// }

@media only screen and (min-width: 767px) {
    body {
        grid-template-areas:
        "header header header"
        "nada main publicidad"
        "nada main publicidad"
        "nada main nada2"
        "footer footer footer";

        header {
            nav {
                ul {
                    flex-direction: row;
                }
            }
        }

        main {
            section {
                width: 100%;
                border: 5px solid $verde-fuerte;
                border-radius: 30px;
            }

        }

        footer {

        }

        .publicidad {
            flex-direction: column;
            justify-content: center;
            .publicidad__item {

                img {
                    width: 100%;
                }
            }
        }
    }
}

