@import './_variables';
@import './_checkbox';


//Extend
.centrarConFlexCol {
    display: flex;
    flex-direction: column;
}

//Mixin
//Aplicado a las redes sociales en "contacto"
@mixin redes($_color) {

    @if $responsivelyApp == 1 {
        width: 75px;
        height: 75px;
        aspect-ratio: 1;
    }

    border-radius: 50%;
    border: 1px solid $_color;
    @extend .centrarConFlexCol;
    justify-content: center;
    align-items: center;

    &:hover {
        background-image: radial-gradient(transparent 40%, $_color 80%);
    }

    a {
        @if $debug == 1 {
            border: 2px solid orange;
        }

        @extend .centrarConFlexCol;
        justify-content: center;
        align-items: center;
        img {
            width: 70%;
            aspect-ratio: 1;
        }
    }

}

//Bucles
//Aplicado a "publicidades" en el index
@for $i from 1 through 4 {
    .publ--#{$i} {
        @if $i %2 == 0 {
            border: 3px solid $azul-fuerte;
        }
        @else {
            border: 3px solid $azul-suave;
        }
        border-radius: 5px;
    }
}


//Mapa
//Utilizado en /** Conductores **/ -> .equipo
$mapaMiembros: (
    miembro1: $azul-fuerte,
    miembro2: $azul-oscuro,
    miembro3: $azul-suave
);


@font-face {
    font-family: 'Myriad';
    src: url(../assets/fonts/myriad.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;

    @if $debug == 1 {
        border: 1px solid red;
    }

    font-size: calc(1* $baseSize);
    font-family: 'Myriad', cursive;
    color: $azul-fuerte;
}

a {
    text-decoration: none;
    &:visited, &:active {
        @if $texto-azul == 1 {
            color: $azul-fuerte;
        }
        @else {
            color: $azul-suave;
        }
    }
}


body {

    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 18vh repeat(3, auto) 5vh;


    background: $fondo;

    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "publicidad publicidad publicidad"
        "footer footer footer";

    .centrado {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        grid-area: header;

        background: $azul-fuerte;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .logo-container {

            height: 100%;
            background: $azul-suave;

            img {
                height: 100%;
                width: 100%;                //Navegador Real
                //aspect-ratio: 1;            //Responsively App

                max-width: 100px;
                object-fit: cover;
            }
        }

        section {
            display: flex;
            a {
                align-self: center;
                span {
                    font-size: calc(2* $baseSize);
                    color: white;
                }
            }
        }

        nav {
            height: 100%;
            display: flex;
            ul {
                list-style-type: none;
                height: 100%;
                display: flex;
                justify-content: space-evenly;

                align-self: center;
                flex-wrap: nowrap;
                flex-direction: column;

                li {
                    margin: $espacio;
                    padding: $espacio;
                    text-align: center;
                    background: $fondo;
                    // color: $azul-fuerte;
                    border: 2px solid $fondo;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    &:hover {
                        border: 2px solid white;
                        background: $azul-fuerte;
                        a {
                            color: $fondo;
                        }
                        animation: bounce 1s;
                    }

                    &.active {
                        background: $azul-oscuro;
                        a {
                            color: $fondo;
                        }
                    }
                }
            }
        }
    }

    main {
        grid-area: main;

        margin: $espacio*2;
        padding: $espacio*2;

        display: flex;
        flex-direction: column;
        align-items: center;

        .titulo-principal {
            margin: $espacio*2;
            padding: $espacio*2;
            margin-bottom: $espacio*5;
            h1 {
                display: inline-block;
                // border: 1px solid red;
                font-size: calc(2.5* $baseSize);
                color: $azul-fuerte;
                &::before {
                    content: "El ";
                    color: $azul-suave;
                }
            }

            h2 {
                // border: 1px solid red;
                display: inline-block;
                font-size: calc(2* $baseSize);
                color: $gris;
            }
        }


        section {
            margin: $espacio*2;
            padding: $espacio*2;
            margin-top: $espacio*4;

            //display: flex;
            //flex-direction: column;
            @extend .centrarConFlexCol;
            align-items: center;
            flex-wrap: nowrap;

            width: 80%;
            border: 3px solid $verde-fuerte;
            border-radius: 20px;
            box-shadow: #999 0px 10px 10px 0px;

            .titulo {
                color: $verde-intermedio;
                font-size: calc(2.5* $baseSize);
            }

            .link {
                padding: 8px;
                background: $gris-fuerte;

                border: 5px solid $gris-fuerte;
                border-radius: 15px;
                // box-shadow: rgba(74, 100, 145, 0.15) 5px 20px 20px 5px;
                a {
                    color: $fondo;
                }
            }

            button {
                color: $fondo;
            }

            .card {                     //Contenedor del iframe
                width: 90%;
                //width: 700px;         //Desktop
            }

            iframe {
                width: 100%;
                min-height: 350px;
            }
        }


        /************ Emisiones *********/
        .episodio {
            border: 3px solid $verde-intermedio;
            box-shadow: #999 0px 10px 10px 0px;
            display: flex;
            flex-direction: row;

            border-radius: 15px;
            margin: $espacio*2;
            padding: $espacio*2;
            display: flex;
            flex-direction: column;
            //@extend .centrarConFlexCol;
            justify-content: space-evenly;
            align-items: center;
            .episodio_imagen {
                // border: 2px solid black;
                width: 80%;
                aspect-ratio: 1;
                @extend .centrarConFlexCol;
                justify-content: center;
                img {
                    width: 100%;
                    object-fit: scale-down;
                }
            }

            .episodio_contenido {
                max-height: 150px;
                //display: flex;
                //flex-direction: column;
                @extend .centrarConFlexCol;
                border: 1px solid $azul-suave;
                margin: $espacio*1;
                padding: $espacio*1;
                width: 100%;

                .episodio_titulo {
                    background: $azul-fuerte;
                    color: $fondo;
                    text-align: center;
                    font-size: calc(1.5* $baseSize);
                }

                .episodio_descripcion {
                    max-height: 300px;
                    overflow: auto;
                    p {
                        font-size: calc(1.2* $baseSize);
                    }
                }
                audio {
                    width: 100%;
                }
            }
        }
        /************ Conductores *********/

        .carousel-inner {
            max-width: 480px;
        }

        .equipo {
            border: 2px solid black;
            display: flex;

            div {
                max-width: 200px;
                max-height: 200px;
                //border: 3px solid orange;
                border: 5px solid orange;
                margin: $espacio*3;
                padding: $espacio*3;
                img {
                    width: 100%;
                    aspect-ratio: 1;
                    object-fit: cover;
                }
            }

            @each $conductor, $color in $mapaMiembros {
                .equipo__#{$conductor} {
                    border-color: $color;
                }
            }
        }

        /************ Contacto *********/

        form {
            width: 50%;
            fieldset {

                label {
                    width: 100%;
                    margin: $espacio/2;         //To-Do: deprecated
                    padding: $espacio/2;
                }

                input, textarea {
                    @extend label;
                }

                .espaciado {
                    margin-top: $espacio*10;
                }
            }
            input {
                &.get {                 //Botón enviar
                    width: 100%;
                    background-color: $verde-fuerte;
                    color: $fondo;
                    font-size: calc(1.5* $baseSize);
                }
            }
        }

        .social {
            width: 100%;


            display: flex;
            justify-content: space-evenly;

            div {
                height: 5vw;
                aspect-ratio: 1;
            }

            .social__ig {
                @include redes($ig)
            }

            .social__wa {
                @include redes($wa)
            }

            .social__fb {
                @include redes($fb)
            }
            .social__yt {
                @include redes(#ff0000)
            }
        }

        /************ Radio Online *********/

        .reproductor-vivo, .reproductor-spotify {
            width: 75%;
            //display: flex;
            //flex-direction: column;
            @extend .centrarConFlexCol;
            justify-content: center;
            align-items: center;

            h6 {
                font-size: calc(3* $baseSize);
            }

            video {
                width: 80%;
            }

            a img {
                max-width: 100px;
                aspect-ratio: 1;
                object-fit: scale-down;
            }
        }
    }

    .publicidad {
        grid-area: publicidad;

        display: flex;
        justify-content: space-evenly;
        // border: 3px solid pink;
        .publicidad__item {
            //z-index: 10;
            margin: 8px;
            padding: 2px;
            //border: 3px solid black;
            // height: 100px;
            // width: 100px;
            // //aspect-ratio: 1;
            background: $fondo; //Para que tape el fondo a escalar en hover
            img {
                z-index: 10;
                height: 100%;
                // max-height: 50px;
                // height: 100%;
                width: 100%;                //Desktop
                //aspect-ratio: auto;
                object-fit: contain;
            }
        }

        .publ--4 {
            z-index: 10;    //Para que tape las otras imágenes si al escalar se superponen
            &:hover {
                transform: translateX(-50%) translateY(-50%)  scale(2);
                transition: all 1s;
            }
        }

    }

    footer {
        // position: sticky;
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $azul-oscuro;
        a {
            color: $fondo;
            &:active, &:visited {
                color: $fondo;
            }
        }
    }
}


// @media only screen and (min-width: 320px) { //Mobile First
// }


@keyframes bounce {
    25% {
        // -webkit-transform: translateY(-10px);
        transform: translateY(-5px);
        // background: $azul-suave;
        // color: $fondo;
    }
}

@media only screen and (min-width: 767px) {
    body {
        grid-template-rows: 10vh repeat(3, auto) 7vh;
        grid-template-areas:
        "header header header"
        "nada main publicidad"
        "nada main publicidad"
        "nada main nada2"
        "footer footer footer";

        header {
            nav {
                align-items: center;
                ul {
                    flex-direction: row;
                    height: auto;
                    li {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                }
            }
        }

        main {
            section {
                margin: 0.5rem;
                padding: 0.5rem;
                width: 100%;

                .card {
                    width: 100%; //Desktop
                }

                iframe {
                    min-width: 700px;
                    aspect-ratio: 16/9;
                }
            }

            .episodio {
                flex-direction: row;

                .episodio_imagen {
                    width: 50%;
                }

                .episodio_contenido {
                    width: 50%;
                    max-height: 400px;
                }
            }


            //Los programas impares el script les agrega esta clase.
            .reverse {
                flex-direction: row-reverse;
            }
        }

        footer {

        }

        .publicidad {
            flex-direction: column;
            //@extend .centrarConFlexCol;
            justify-content: center;
            .publicidad__item {

                img {
                    // max-height: 200px; //mmmm
                    // width: 100%;
                }
            }
        }
    }
}